.button_help{
    width: 40px;
    height: 40px;
    background-color: var(--salmon);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}


.button_help:hover{
    opacity: 0.7;
}

.button_help_icon{
    width: 25px;
    height: 25px;
}