.animation_control_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    justify-content: center;
    gap: 10px;
}

.animation_control_button{
    width: 40px;
    height: 40px;
    background-color: var(--grey);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}

.animation_control_button:active{
    background-color: var(--salmon);
}


.animation_control_icon{
    width: 35px;
    height: 35px;
}