.container_first_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    background-image: url('/images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0px 0px 0px;
}

.container_first_page_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* border: 2px solid white; */
}

.container_title{
    display: flex;
    font-size: 2.7rem;
    text-align: center;
    line-height: 1.2;
    color: var(--brown);
    padding: 20px 0px 20px 0px;
    /* border: 2px solid green; */
}

.container_buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: space-between;
    /* border: 2px solid blue; */
}

.container_tutorial{
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 80px 0px 0px 0px;
    /* border: 2px solid yellow; */
}