.context-menu-options {
    position:relative;
    top: 70px;
    left: -532px;
    background: var(--grey);
    border-radius: 0px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
    z-index: 1000;
    min-width: 160px;
    overflow: hidden;
}

.context-menu-options button{
    display: block;
    padding: 10px 12px;
    background: var(--grey);
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
}

.context-menu-options button:hover {
    background: var(--yellow);
}